# WARNING: this file is not suitable for production, please use with caution
version: '3'

services:
  web:
    image: myapi
    build: .
    command: uwsgi --http 0.0.0.0:5000 --module myapi.wsgi:app
    env_file:
      - ./.flaskenv
    environment:
      - DATABASE_URI=sqlite:////db/myapi.db
    volumes:
      - ./myapi:/code/myapi
      - ./db/:/db/
    ports:
      - "5000:5000"
